.cart-tyre{ 
    /* background-color: yellow; */
    margin:0px 40px 20px 40px; 
}

.cart-tyre-name{
    /* background-color: yellow; */
    margin:0px 0px 0px 0px;
    font-weight:700;
    color:rgb(41, 40, 40);
}
.cart-tyre-CP{
    display: inline-block;
    width: 140px;
}

.cart-tyre-price{
    display: inline-block;
    width: 160px;
}

.cart-tyre-quantity{
    display: inline-block;
    width: 180px;
}