

.cart{
    /* float:right; */
    position:fixed;
    max-height: 500px;
    overflow-y: auto;
    right:0;

    width:46%; 
    margin:30px 15px 0px 0px;
    padding:20px 0px 20px 0px;
    border: 5px solid transparent;
    border-radius: 12px;
    display: inline; 
    background-color: rgb(233, 225, 225);
    text-decoration: none; 
    font-size: 17px; 
}


.cart-title{
    font-weight:500;
    font-size: 28px;
    padding: 2px 2px 20px 2px;
    margin:0px 40px 20px 40px;
    background-color: rgb(233, 225, 225);
    color: rgb(44, 42, 42);
    border-bottom: 3px solid rgb(175, 169, 169);
}

.service{
    padding:0px 0px 0px 40px;
}

.service-name{
    color:rgb(41, 40, 40);
    font-weight:700;
}

.service-price{
    display: inline-block;
    width: 138px;
}

.service-quantity{
    display: inline-block;
    width: 160px;
}

.service input{
    border: 1px solid transparent;
    width: 60px;
    margin:5px 0px;
    outline: none;
    background-color: rgb(233, 225, 225);
    padding: 3px;
    color: #000000;
    font-size:medium;   
    font-weight:500;
}

.service input:focus{
    border:0.5px dotted rgb(117, 117, 117);
    background-color: rgb(252, 252, 166);
}

.service input:hover{
    background-color: rgb(252, 252, 166);
}

.service-quantity input{
    width: 50px;
}

.total-price{
    padding:30px 0px 20px 40px;
    font-size: 25px;
    font-weight: 800;
    color:rgb(24, 23, 23);
    
}

.invoice-button {
    text-decoration: none;
    margin-left:40px;
    color:rgb(24, 23, 23);
    font-weight: 700;   
}