table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  th {
    background-color: #dddddd;
    border: 1px solid #00000038;
  }

  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  