.navBar {
  background-color: var(--lightest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px dashed var(--default);
}

.nav-header {
  padding: 0.5rem 2.8rem;
  color: var(--darkest);
  text-decoration: none;
  font-size: 2.2rem;
  margin: 0;
  font-family: "Lobster", cursive;
}

/* Style the links inside the navigation bar */
.nav-links-container {
  display: flex;
  align-items: center;
  padding-right: 2.6rem;
  gap: 0.6rem;
}

.nav-link {
  text-decoration: none;
  color: var(--darker);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 1.3rem 1rem;
  /* text-transform: uppercase; */
}

/* Change the color of links on hover */
.nav-links-container a:hover,
.nav-links-container .active {
  background-color: var(--lighter);
  color: var(--darkest);
}
