.shop-container{
    display: flex;
    align-items:flex-start;
    padding:22px;
    column-gap: 10px;
}

.products{
    flex:1.2;
    /* background-color: yellow; */
}

.cart{
    /* background-color: lightcoral; */
    top:10px;
    border-radius: 12px;
    position: sticky;
    max-height: 90vh;
    overflow-y: scroll; 
}