.invoice {
  font-family: Helvetica, sans-serif, Arial, sans-serif;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.4;
}

.invoice {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.invoice::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

::placeholder {
  font-weight: 300;
  color: #b7b7b7;
}

.left-buttons-container,
.right-buttons-container {
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tax-invoice-button {
  background-color: white;
  padding: 5px;
}

.left-buttons-container {
  align-items: flex-end;
}

.right-buttons-container {
  align-items: flex-start;
}

.invoice-body {
  width: 210mm;
  height: 297mm;
  /* margin: 0mm auto; */
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0.5cm rgba(99, 98, 98, 0.5);
  padding: 30px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.6%;
}

.shop-details h4,
.shop-details address {
  margin: 0;
  padding: 0;
}

.shop-details h4 {
  font-size: medium;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding-bottom: 3%;
}

.shop-details address {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-style: italic;
}

.invoice-details {
  padding-top: 4.5%;
}

.invoice-details h4,
.invoice-details select,
.invoice-details label,
.invoice-details input {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
.invoice-details input {
  max-width: 95px;
}

.invoice-details select:hover,
.invoice-details input:hover {
  background-color: #fdf4db;
}

.customer-details {
  padding: 1% 0 1% 0;
}

.customer-details label {
  display: inline-block;
  min-width: 90px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.customer-details input {
  color: rgb(0, 0, 0);
  outline: none;
  border: 0.5px dotted transparent;
  background-color: rgb(255, 255, 255);
  width: 87%;
  font-weight: 400;
  font-style: italic;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}

.POS {
  width: 87%;
  outline: none;
  border: none;
  appearance: none;
  font-weight: 400;
  font-style: italic;
  color: rgb(0, 0, 0);
  border: 0.5px dotted transparent;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}
select:disabled {
  opacity: 1;
}

.customer-details input:hover,
.POS:hover {
  background-color: #fdf4db;
}

.customer-details input:focus,
.POS:focus {
  border: 0.5px dotted rgb(117, 117, 117);
  background-color: #fdf4db;
}

.IGST-table,
.GST-table,
.rounding-table,
.no-tax-invoice {
  border-collapse: collapse;
  width: 100%;
}

table.IGST-table th,
table.GST-table th,
table.no-tax-invoice th,
table.rounding-table th {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
  border: none;
  text-align: right;
  padding: 6px 12px;
}

table.IGST-table td,
table.GST-table td,
table.no-tax-invoice td,
table.rounding-table td {
  text-align: right;
  padding: 4px 12px;
  border: none;
  border-bottom: 1px solid #dddddd;
}

table.IGST-table td:nth-child(1),
table.GST-table td:nth-child(1),
table.IGST-table th:nth-child(1),
table.GST-table th:nth-child(1),
table.rounding-table td:nth-child(1),
table.rounding-table th:nth-child(1) {
  text-align: left;
}

table.rounding-table td {
  padding: 10px 12px;
}

.rounding-table-container {
  display: flex;
  justify-content: flex-end;
}

.rounding-table {
  width: 30%;
}

.payment-input-list-container {
  display: flex;
  justify-content: flex-end;
}

.payment-input-list {
  padding: 5px 0 0 0;
  margin: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.payment-input-list label {
  padding-left: 14px;
  display: inline-block;
  width: 50%;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.payment-input-list input {
  color: rgb(0, 0, 0);
  outline: none;
  border: 0.5px dotted transparent;
  background-color: rgb(255, 255, 255);
  text-align: right;
  padding-right: 10px;
  width: 50%;
  font-weight: 400;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
.payment-input-list input::-webkit-outer-spin-button,
.payment-input-list input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.payment-input-list input[type="number"] {
  -moz-appearance: textfield;
}

.payment-input-list input:hover {
  background-color: #fdf4db;
}

.payment-input-list input:focus {
  border: 0.5px dotted rgb(117, 117, 117);
  background-color: #fdf4db;
}
.payment-input-list strong {
  background-color: #dddddd;
  display: inline-block;
  width: 50%;
  text-align: right;
  padding: 6px 12px;
}

.total-paid {
  display: inline-block;
  background-color: #dddddd;
  width: 50%;
  margin-top: 4px;
  padding: 6px 12px;
  font-weight: 700;
}

.bank-name,
.bank-details,
.eoe {
  float: left;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.signatory-name,
.signature,
.signatory {
  float: right;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-style: italic;
}

@page {
  size: A4;
}

.open {
  display: flex;
  animation: fade-in 300ms forwards;
}

.close {
  display: none;
}

.closing {
  animation: fade-out 300ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
