.products {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.products-search {
  padding: 2px 7px;
  border: 2px solid var(--default);
  border-radius: 8px;
  background-color: var(--lighter);
}
.products-search:hover {
  border: 2px solid var(--darker);
}

.products-search input {
  border: none;
  background-color: var(--lighter);
  color: var(--darker);
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

.products-search input:focus {
  outline: none;
}

.products-search input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--darker);
  font-weight: 400;
  font-size: 16px;

  opacity: 1; /* Firefox */
}

.products-search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--darker);
  font-weight: 400;
  font-size: 16px;
}

.products-search input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--darker);
  font-weight: 400;
  font-size: 16px;
}

.product-filters {
  display: flex;
  /* background-color: lime; */
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 15px;
}

.product-items {
  /* background-color: rgb(240, 72, 72); */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 50px;
}
