.shop-container{
    display: flex;
    align-items:flex-start;
    padding:22px;
    column-gap: 10px;
}

.products{
    flex:1.2;
    /* background-color: yellow; */
}

.cart-container{
    /* background-color: lightcoral; */
    top:20px;
    border-radius: 12px;
    overflow-y: hidden; 
    position: sticky;

}