.invoice-with-new-items-hr hr{
    margin: 0px 0px 10px 0px;
}

.invoice-with-new-items{
    background-color: rgb(233, 225, 225);
    padding:15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.invoice-with-new-items-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table.invoice-with-new-items-table th {
    background-color: #dddddd;
    border: 1px solid #00000038;
    padding:2px 4px;  
  }
  
table.invoice-with-new-items-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
  }

.header{
    display: flex;
    flex-wrap: wrap;
}

.invoice-number{
    margin: 0;
    padding: 0px 0px 5px 0px;
}