.purchase-invoice-hr hr{
    margin: 0px 0px 10px 0px;
}

.purchase-invoice-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table.purchase-invoice-table th {
    background-color: #dddddd;
    border: 1px solid #00000038;
    padding:2px 4px;  
  }
  
table.purchase-invoice-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
  }

.purchase-invoice{
    background-color: rgb(233, 225, 225);
    padding:15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.purchase-invoice-header{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.purchase-invoice-number{
    margin: 0;
    padding-right: 25px;
}

.invoice-date{
    font-weight: 500;
    margin:0;
    padding-left: 25px;
}

.invoice-date input{
    margin-left: 2px;
    padding: 0;
    background-color: #ffffff;
    outline: none;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}

.invoice-date input:hover{
    background-color: #fdf4db;

}


.invoice-date input:focus{
    border: 1px solid rgb(47, 47, 47);
    background-color: #fdf4db;
}

.invoice-exists{
    margin:0;
    padding: 0px 0px 10px 0px;

}

.overwrite-checkbox, .claim_invoice, .overwrite_price_list, .special_discount{
    margin-right:5px;
}

.special-discount{
    padding: 0px 0px 8px 0px;
}

.special-discount input{
    margin:5px;
    padding-left: 2px;
    max-width:240px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}

.special-discount input:hover{
    background-color: #fdf4db;

}

.special-discount input:focus{
    border: 1px solid rgb(47, 47, 47);
    background-color: #fdf4db;
}

.claim-overwrite{
    margin:0;
    padding: 0px 0px 10px 0px;

}

.invoice-price-difference{
    margin: 15px 0px 6px 0px;
}

.claim-number input{
    margin:5px;
    padding-left: 2px;
    max-width:240px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}

.claim-number input:hover{
    background-color: #fdf4db;

}

.claim-number input:focus{
    border: 1px solid rgb(47, 47, 47);
    background-color: #fdf4db;
}
