.purchase-invoice-hr hr {
  margin: 0px 0px 10px 0px;
}

.purchase-invoice-table-wrapper {
  border: 1px solid var(--default);
  border-radius: 10px;
}

.purchase-invoice-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

table.purchase-invoice-table th {
  background-color: rgb(213, 205, 205);
  color: var(--darkest);
  padding: 6px;
}

table.purchase-invoice-table td {
  border-bottom: 1px solid var(--default);
  text-align: center;
  padding: 6px;
}

table.purchase-invoice-table tr:last-child td {
  border-bottom: none;
  text-align: center;
}

.purchase-invoice {
  background-color: var(--lighter);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.purchase-invoice input {
  background-color: white;
  outline: none;
  border: 1px solid var(--default);
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
}

.purchase-invoice input:hover {
  background-color: var(--light-yellow);
}

.purchase-invoice input:focus {
  border: 1px solid var(--darkest);
  background-color: var(--light-yellow);
}

.purchase-invoice-header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.purchase-invoice-number {
  margin: 0;
  padding-right: 25px;
}

.invoice-date {
  font-weight: 500;
  margin: 0;
  padding-left: 25px;
}

.invoice-date input {
  margin-left: 2px;
  padding: 0;
}

.invoice-exists {
  margin: 0;
  padding: 0px 0px 10px 0px;
}

.overwrite-checkbox,
.claim_invoice,
.overwrite_price_list,
.special_discount {
  margin-right: 5px;
}

.special-discount {
  padding: 0px 0px 8px 0px;
}

.special-discount input {
  margin: 5px;
  padding-left: 2px;
  max-width: 240px;
}

.claim-overwrite {
  margin: 0;
  padding: 0px 0px 10px 0px;
}

.invoice-price-difference {
  margin: 15px 0px 6px 0px;
}

.claim-number input {
  margin: 5px;
  padding-left: 2px;
  max-width: 240px;
}
