.ant-table {
  background-color: transparent;
}

.ant-table-content > table {
  /* border-collapse: collapse; */
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--lighter);
  padding: 10px 20px 20px 20px;
}

.ant-table-thead > tr > th {
  background-color: var(--lighter);
  text-decoration: none;
  color: var(--darkest);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid var(--default);
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid var(--default);
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}

.ant-table-tbody > tr:hover td {
  background: var(--dark) !important;
}

.ant-btn-primary {
  text-decoration: none;
  color: var(--lightest);
  border: none;
  border-radius: 6px;
  background-color: var(--darker);
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out,
    background-color 0.1s ease-in-out;
}

.ant-btn-primary:active {
  box-shadow: 0 2px var(--darkest);
  transform: translateY(2px);
}

.ant-btn-primary:hover {
  background-color: var(--darkest);
}

.ant-btn-primary:focus {
  background-color: var(--darkest);
}

.ant-dropdown-trigger {
  color: var(--dark);
}

.ant-dropdown-trigger:hover {
  color: var(--darkest);
}

.ant-dropdown-trigger:active {
  color: var(--darkest);
}

.ant-table-filter-trigger.active {
  color: var(--darkest);
}

.anticon-edit {
  color: var(--darker);
}

.anticon-edit:hover {
  color: var(--darkest);
}

.anticon-edit:active {
  color: var(--darkest);
}

.anticon-edit:focus {
  color: var(--darkest);
}

.ant-btn-default {
  text-decoration: none;
  color: var(--lightest);
  border: none;
  border-radius: 6px;
  background-color: var(--darker);
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out,
    background-color 0.1s ease-in-out;
}

.ant-btn-default:active {
  box-shadow: 0 2px var(--darkest);
  transform: translateY(5px);
  color: var(--lightest);
}

.ant-btn-default:hover {
  background-color: var(--darkest);
  color: var(--lightest);
}

.ant-btn-default:focus {
  background-color: var(--darkest);
  color: var(--lightest);
}

.ant-modal-content {
  border-radius: 12px;
  background-color: var(--lightest);
}
.ant-modal-header {
  border-radius: 12px 12px 0 0;
  background-color: var(--darkest);
  border: none;
}

.ant-modal-title {
  color: var(--lightest);
}

.ant-layout {
  background-color: transparent;
}

.ant-input {
  background-color: var(--lightest);
  border-radius: 5px;
  border: none;
  outline: 1px solid var(--default);
}

.ant-input:focus,
.ant-input:active {
  box-shadow: none;
  background-color: var(--light-yellow);
  outline: 1px solid var(--darker);
}

.ant-input:hover {
  background-color: var(--light-yellow);
}
