.ant-table {
  background-color: transparent;
}

.ant-table-content > table {
  /* border-collapse: collapse; */
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--lighter);
  padding: 10px 20px 20px 20px;
}

.ant-table-thead > tr > th {
  background-color: var(--lighter);
  text-decoration: none;
  color: var(--darkest);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid var(--default);
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid var(--default);
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background-color: var(--lighter);
}

.ant-table-tbody > tr:hover td {
  background: var(--dark) !important;
}

tr.ant-table-expanded-row > td {
  background-color: var(--lighter);
  transition: none;
}

.ant-table-row-expand-icon,
.ant-table-row-expand-icon:focus {
  background: var(--lighter);
  color: var(--darkest);
  border-color: var(--darker);
}

.ant-table-row-expand-icon:hover {
  background: var(--lighter);
  color: var(--darkest);
  border-color: var(--darkest);
}

.ant-spin-container::after {
  background-color: transparent;
}

.ant-btn-primary,
.ant-btn-default,
.ant-btn-dashed {
  text-decoration: none;
  color: var(--lightest);
  border: none;
  border-radius: 6px;
  background-color: var(--darker);
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out,
    background-color 0.1s ease-in-out;
}

.ant-btn-primary:active,
.ant-btn-default:active,
.ant-btn-dashed:active {
  box-shadow: 0 2px var(--darkest);
  transform: translateY(2px);
  color: var(--lightest);
}

.ant-btn-primary:hover,
.ant-btn-default:hover,
.ant-btn-dashed:hover {
  color: var(--lightest);
  background-color: var(--darkest);
}

.ant-btn-primary:focus,
.ant-btn-default:focus,
.ant-btn-dashed:focus {
  color: var(--lightest);
  background-color: var(--darkest);
}

.ant-dropdown-trigger {
  color: var(--dark);
}

.ant-dropdown-trigger:hover {
  color: var(--darkest);
}

.ant-dropdown-trigger:active {
  color: var(--darkest);
}

.ant-table-filter-trigger.active {
  color: var(--darkest);
}

.anticon-edit,
.anticon-delete {
  color: var(--darker);
}

.anticon-edit:hover,
.anticon-delete:hover {
  color: var(--darkest);
}

.anticon-edit:active,
.anticon-delete:active {
  color: var(--darkest);
}

.anticon-edit:focus,
.anticon-delete:focus {
  color: var(--darkest);
}

.ant-modal-content {
  border-radius: 12px;
  background-color: var(--lightest);
}
.ant-modal-header {
  border-radius: 12px 12px 0 0;
  background-color: var(--darkest);
  border: none;
}

.ant-modal-title {
  color: var(--lightest);
}

.ant-layout {
  background-color: transparent;
}

.ant-table-filter-dropdown {
  background-color: var(--lightest);
  border-radius: 10px;
}

.ant-input,
.ant-picker,
.ant-input-group-addon,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--lightest);
  border-radius: 5px;
  border: none;
  outline: 1px solid var(--default);
}

.ant-input:focus,
.ant-picker-focused,
.ant-input:active,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  box-shadow: none;
  background-color: var(--light-yellow);
  outline: 1px solid var(--darker);
}

.ant-input:hover,
.ant-picker:hover,
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  background-color: var(--light-yellow);
}

.ant-input:disabled {
  background-color: var(--lighter);
  color: var(--darkest);
}

.ant-input::placeholder,
.ant-picker-input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--darker);
  font-weight: 300;
  font-size: 16px;

  opacity: 1; /* Firefox */
}

.ant-input input:-ms-input-placeholder,
.ant-picker-input input::placeholder {
  /* Internet Explorer 10-11 */
  color: var(--darker);
  font-weight: 300;
  font-size: 16px;
}

.ant-input input::-ms-input-placeholder,
.ant-picker-input input::placeholder {
  /* Microsoft Edge */
  color: var(--darker);
  font-weight: 300;
  font-size: 16px;
}
