.ant-table {
  background-color: transparent;
}

.ant-table-content > table {
  /* border-collapse: collapse; */
  border-radius: 1em;
  overflow: hidden;
  background-color: rgb(246, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ant-table-thead > tr > th {
  background-color: var(--darker);
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  border-bottom: none;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid rgb(225, 223, 223);
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}

.ant-table-tbody > tr:hover td {
  background: var(--lighter) !important;
}

.ant-btn-primary {
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: var(--darker);
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out,
    background-color 0.1s ease-in-out;
}

.ant-btn-primary:active {
  box-shadow: 0 2px var(--darkest);
  transform: translateY(2px);
}

.ant-btn-primary:hover {
  background-color: var(--darkest);
}

.ant-btn-primary:focus {
  background-color: var(--darkest);
}

.ant-dropdown-trigger {
  color: var(--lighter);
}

.ant-dropdown-trigger:hover {
  color: white;
}

.ant-dropdown-trigger:active {
  color: white;
}

.ant-table-filter-trigger.active {
  color: #ffd043;
}

.anticon-edit {
  color: var(--darker);
}

.anticon-edit:hover {
  color: var(--darkest);
}

.anticon-edit:active {
  color: var(--darkest);
}

.anticon-edit:focus {
  color: var(--darkest);
}

.ant-btn-default {
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: var(--darker);
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out,
    background-color 0.1s ease-in-out;
}

.ant-btn-default:active {
  box-shadow: 0 2px var(--darkest);
  transform: translateY(5px);
  color: white;
}

.ant-btn-default:hover {
  background-color: var(--darkest);
  color: white;
}

.ant-btn-default:focus {
  background-color: var(--darkest);
  color: white;
}

.ant-modal-content {
  border-radius: 12px;
  background-color: var(--lighter);
}
.ant-modal-header {
  border-radius: 12px 12px 0 0;
  background-color: var(--darker);
  border: none;
}

.ant-modal-title {
  color: white;
}

.ant-layout {
  background-color: transparent;
}
