@import '~antd/dist/antd.css';

body{
  background-color: var(--lightest);
}

:root {
    --darkest: rgb(60, 58, 58);
    --darker: rgb(113, 110, 110);
    --default: rgb(175, 169, 169);
    --lighter: rgb(233, 223, 223);
    --lightest: rgb(248, 243, 243);

    --light-yellow: #fdf4db;
    --dark-yellow: #fbebbd;
  }