@import "~antd/dist/antd.css";

body {
  background-color: var(--global-app-color);
}

:root {
  --darkest: rgb(60, 58, 58);
  --darker: rgb(113, 110, 110);
  --dark: #ccc8bc;
  --default: rgb(175, 169, 169);
  --lighter: #e6e1d5;
  --lightest: #f5f3e5;

  --light-yellow: #fdf4db;
  --dark-yellow: #fbebbd;

  --global-app-color: var(--lightest);
}
