
.add-item-modal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; 
  }
  
  .add-item-modal-content {
    min-width: 18%;
    background: white;
    /* max-height: 40%; */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 5px;
    background-color: var(--lighter);
    border-radius: 8px;
  }

    .add-item-header{
      display:flex;
      flex-flow: row wrap;
      justify-content: space-between;
      background-color: var(--darkest);
      color: white;
      padding: 20px;
      border-radius: 8px 8px 0px 0px;

    }

    .close-new-item-modal{
      color: var(--darkest);
      font-weight: 800;
      cursor: pointer;
    }

    .add-item-body{
      padding: 20px;
      display: flex;
      flex-flow: column wrap;
      gap:10px;
    }

    .add-item-footer{
      padding: 20px;
      align-self: center;
    }